footer {
  bottom: 0;
  position: fixed;
  width: 100%;
}

img.aphra-pic {
  max-width: 100%;
  overflow: scale;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  padding-bottom: 4rem;
}